# cp .env.example .env

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
JPA_DDL_AUTO=

# openssl rand -base64 32
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRATION=

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

DOMAIN=
SERVER_PORT=
